<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>File Selector</title>
</head>
<body>
<h1>Select a File</h1>
<table>
    <thead>
    <tr>
        <th>File Name</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="fileName : ${fileNames}">
        <td th:text="${fileName}"></td>
        <td>
            <form method="get" th:action="@{/viewFile}">
                <input type="hidden" name="fileName" th:value="${fileName}" />
                <button type="submit">View</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>